body
{
    padding: 0;
    margin: 0;
}
.d1
{
    width: 50%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.d2
{
    color: rgb(2, 2, 62);
    text-shadow: 0 0px 0px #888585,2px 2px 0px #727171;
    text-align: center;

}
.d3
{
    background-color: rgb(125, 203, 7);
    margin-left: 10%;
    margin-right: 10%;
    border: solid #5a5858;
    border-width: 5px;
    border-radius: 15px;
}
.m
{
    background-image: url(images/bannerbg.png);
}
.d4
{
    background-image: url(images/rbg.png);
}
.d5
{
   color: red; 
   margin: 0;
   padding: 0;
   font-size: 70px;
   vertical-align: bottom;
   
}
.d6
{
    background-image: url(images/background.png);
   margin-top: 0;
    width: 70%;
    display: flex;
    
}
.d7
{
    background-color: rgb(252, 252, 188);
    border: solid #5a5858;
    border-radius: 10px;
  width: 45%;
  height: 150px;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
 
}

.d7 img
{
    float: left;
}
.d7 p
{
   padding-top: 0;
   font-weight: bold;
}
.d8
{
  width: 45%;
  height: 50px;
  box-sizing: border-box;
  margin:10px;
  padding: 10px; 
  padding-bottom: 5px; 
}
.d8 img
{
    float: left;
}


.d9
{
    background-color: rgb(252, 252, 188);
    border: solid #5a5858;
    border-radius: 10px;
  width: 45%;
  height: fit-content;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
 
}

.d9 img
{
    float: left;
}
.d9 p
{
   padding-top: 0;
   font-weight: bold;
}
.g
{
    
    background-image: url(images/background.png);
   margin-top: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    
}

.g1
{
    background-color: rgb(252, 252, 188);
    border: solid #5a5858;
    border-radius: 10px;
  width: 90%;
  height: fit-content;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
 
}


.g1 img
{
    float: left;
}
.g1 p
{
   padding-top: 0;
   font-weight: bold;
}

.k
{
    display: flex;
  
}
.imo
{
    width: 24%;
   position: absolute;
   top: 15%;
   right: 10.2%;
}
.r
{
    width: 24%;
  position: absolute;
  top: 92%;
  right: 10.2%;

  
}
.r p
{
    padding-left: 10px;
    padding-right: 10px;
}
.ha
{
    font-weight: bold;
}