body{
    margin: 0;
    font-family: 'Fira Mono', monospace;
}

section.header {
    text-align: center;
    font-size: 30px;
    height: 250px;
    text-shadow: 3px 3px #333;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(140deg, #2e1ade 0%, #ae70bc 50%, #d641b6 75%);
    /* background-image: linear-gradient(140deg, #FF7D4D 0%, #AB6E93 50%, #5C99FF 75%); */
    color: white;
    opacity: 0.95;
    margin: auto;
    font-weight: 550;
    padding-top: 105px;
}

section.search-result {
    margin: 5% auto;
    font-size: 22px;
    width: 80%;
}

section.search-bar {
    text-align: center;
    margin: 3%;
}

input[type="text"] {
    font-size: 30px;
    width: 50%;
    padding: 10px;
}

button[type="submit"] {
    font-size: 30px;
    padding: 10px;
    background-color: #fbff00;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}

button[type="submit"]:hover {
    background-color: #AB6E93;
    color: white;
    /* text-shadow: 2px 2px #999; */
    /* box-shadow: 2px 2px red; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#footer{
    float: right;
    position: fixed;
    top: 93%;
    right: 0;
}

#footer img{
    opacity: 0.5;
}

#loader {
    position: absolute;
    left: 50%;
}
