 body
{
    background-color: #dda4fc !important;
    font-weight: bold 14pt;
    font-family: sans-serif;
    display: flex;
}
body fieldset
{
    border: solid 10px;
    border-width: 20px;
}
body h2
{
    font-size: 32pt;
}
  
.dis
{
    display: flex;
}
.play
{
 
  flex-direction: left;  
}
 